{% extends "main.html" %} {% block content %} {% load static %}
<div id="leaves">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i> 
    </div>
<div id="main_div" class="row container">
        <div class="col m12 s12 l3 xl3">
            <div class="card">
                <div class="card-image">
                    {% if icon == "01d" %}
                    <img src="{% static 'main/01d.png' %}"> {% elif icon == "01n" %}
                    <img src="{% static 'main/01n.png' %}"> {% elif icon == "02d" %}
                    <img src="{% static 'main/02d.png' %}"> {% elif icon == "02n" %}
                    <img src="{% static 'main/02n.png' %}"> {% elif icon == "03d" %}
                    <img src="{% static 'main/03d.png' %}"> {% elif icon == "04d" %}
                    <img src="{% static 'main/04d.png' %}"> {% elif icon == "09d" %}
                    <img src="{% static 'main/09d.png' %}"> {% else %}
                    <img src="{% static 'main/01d.png' %}"> {% endif %}
                    <span style="color:black;" class="card-title"><b>{{location}} {{temperature}}°C</b></span>
                </div>
                <div class="card-content">
                    <ul>
                        <li><b>Indeks zagadjenosti:</b> {{aqius}}</li>
                        <li><b>Vazdusni pritisak:</b> {{pressure}}hPa</li>
                        <li><b>Vlaznost vazduha:</b> {{humidity}}%</li>
                        <li><b>Brzina vetra:</b> {{wind_speed}}m/s</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col m12 s12 l9 xl9">
            <ul class="collection">
                <button onclick="location.href = 'polen/';" class="collection-item white waves-effect" style="margin:0;width:100%;border-style:none;">
                    <span><img class="left" style="height:12%;" src="{% static 'main/pollen.png' %}">
                        <h2>Koncentracija polena</h2>
                    </span>
                </button>
            </ul>
            <ul class="collection">
                <button onclick="location.href = 'zagadjenost/';" class="collection-item white waves-effect" style="margin:0;width:100%;border-style:none;">
                    <span><img class="left" style="height:12%;" src="{% static 'main/factory.png' %}">
                        <h2>Zagadjenost vazduha</h2>
                    </span>
                </button>
            </ul>
            <ul class="collection">
                <button onclick="location.href = 'meteoalarm/';" class="collection-item white waves-effect" style="margin:0;width:100%;border-style:none;">
                    <span><img class="left" style="height:12%;" src="{% static 'main/global.png' %}">
                        <h2>Meteo Alarm</h2>
                    </span>
                </button>
            </ul>
        </div>
</div>
{% endblock %}