<div class="collection">
    <a class="collection-item" href="#!"><i class="material-icons">dashboard</i>Temp name</a>
    <a class="collection-item" href="#!"><i class="material-icons">dashboard</i>Temp name</a>
    <a class="collection-item" href="#!"><i class="material-icons">dashboard</i>Temp name</a>
    <a class="collection-item" href="#!"><i class="material-icons">dashboard</i>Temp name</a>
    <a class="collection-item" href="#!"><i class="material-icons">dashboard</i>Temp name</a>
    <a class="collection-item" href="#!"><i class="material-icons">dashboard</i>Temp name</a>
</div>